*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.section{
    width: 100%;
}
.container{
    margin: 0 auto;
    max-width: 1170px;
}
html,body{
    height: 100%;
}
body{
    display: flex;
    flex-direction: column;
    font-family: 'fredoka-regular';
}
main{
    flex-grow: 1;
}
.navbar-toggler{
    display: none;
}
.header{
    background-color: #F9F6F1;
    min-height: 800px;
    background-image: url(../img/bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.header-menu{
    min-height: 90px;
    position: fixed;
    width: 100%;
    z-index: 100;
    background-color: transparent;
}
.section__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    z-index: 99;
}
.mainmenu__list{
    gap: 35px;
    display: flex;
    flex-direction: row;
    font-family: 'fredoka-regular';
    width: 630px;
    height: 21px;
    font-size: 18px;
    letter-spacing: 0.03em;
    align-items: center;
}
.menu__link{
    color: #1D3B53;
    text-decoration: none;
}
ul{
    list-style: none;
}
.login{
    display: inline-block;
    width: 120px;
    height: 45px;
    border-radius: 7px;
    border: 2px;
    background-color: #0CA941;
    color: #ffff;
    font-family:'fredoka-regular';
}
.logo{
    width: 36.52px;
    height: 34.31px;
}
.logo__text{
    color: #374A3D;
    font-family:'fredoka-regular'
}
.elips{
    width: 414.19px;
    height: 414.19px;
}
.flower{

}
.elips1{
    width: 681.23px;
    height: 681.23px;
   
}
.header__img {
    z-index: 1;
}
.T{
    width: 616.56px;
    height: 216.68px;
    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 76px;
    color: #374A3D;
}
.green{
    color: #0CA941;
}
.R{
    width: 534.47px;
    height: 58.86px;

    font-family: 'fredoka-regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    Color: #707070;
}
.women{
    width: 498.27px;
    height: 565.48px;
}
.shop{
    display: inline-block;
    width: 179.78px;
    height: 67.11px;
    border: 2px solid #0CA941;
    border-radius: 50px;
    font-family: 'Fredoka-Regular';
    font-style: normal;
    color: #374A3D;
}
.gre{
    color: #10AA42;
}
.line{
    width: 101.16px;
    height: 72.7px;
}
.cactus{
    width: 168.87px;
    height: 247.94px;
}


.gren_flower{
    width: 288.87px;
    height: 350.4px;
}

.ser{
    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-size: 30px;
    margin-left: 400px;
    margin-top: 235px;
    line-height: 40px; 
    color:#374A3D
}

.long{
    font-family: 'Fredoka-Regular';
    color: #5B7262;
    font-style: normal;
    font-size: 16px;
    margin-left: 400px;
    margin-top: 20px;
    line-height: 26px;
}

.five{
    height: 98.93px;
    width: 161.42px;
    border-radius: nullpx;

    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-size: 60px;
    color:#0CA941
}

.mon{
    font-family: 'Fredoka-Regular';
    height: 98.93px;
    width: 161.42px;
    color: #678570;

    font-size: 18px;
    line-height: 26px;
}

.ten{
    height: 98.93px;
    width: 161.42px;

    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-size: 60px;
    color:#0CA941
}

.pra{
    font-family: 'Fredoka-Regular';
    height: 98.93px;
    width: 161.42px;
    color: #678570;

    font-size: 18px;
    line-height: 26px;
}

.six{
    height: 98.93px;
    width: 161.42px;

    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-size: 60px;
    color:#0CA941
}

.tea{
    font-family: 'Fredoka-Regular';
    height: 98.93px;
    width: 161.42px;
    color: #678570;

    font-size: 18px;
    line-height: 26px;
}

main{
    background-color: #F9F6F1;
    min-height: 800px;
    background-image: url(../img/Ellipse\ 37.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.women__Y{
    width: 537.75px;
    height: 427.35px;
}

.garder{
    width: 400px;

    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-size: 36px;
    line-height: 44px;

    

    color: #374A3D;
}

.text{
    width: 457.92px;
    height: 125.1px;

    font-family: 'Fredoka-Regular';
    font-style: normal;

    font-size: 18px;
    line-height: 32px;

    color: #678570;
}

.read{
    width: 179.78px;
    height: 67.11px;

    border: 2px solid #0CA941;
    border-radius: 50px;
    font-family: 'Fredoka-Regular';
    font-style: normal;
    color: #374A3D;

}

.line1{
    transform: rotate(1.04deg);
}
.prof{
    width: 355px;
    height: 44.29px;

    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;

    color: #374A3D;

}

.text_3{
    width: 457.92px;
    height: 217.86px;

    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    color: #678570;
}

.Gro{
    width: 806.42px;
    height: 759.68px;
}

.read1{
    width: 179.78px;
    height: 67.11px;

    border: 2px solid #0CA941;
    border-radius: 50px;
    font-family: 'Fredoka-Regular';
    font-style: normal;
    color: #374A3D;
}

.line2{
    transform: rotate(2.1deg);
}

.ch{
    width: 444px;
    height: 60px;

    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    color: #374A3D;
    text-align: center;
}

.many{
    width: 530.77px;
    height: 58.86px;

    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    color: #678570;
}

.white{
    justify-content: space-around;
}
.q{
    width: 360px;
    height: 437px;
    text-align: center;
    padding-top: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.36);
    border-radius: 37px;

    font-family: 'Fredoka-Bold';
    font-size: 24px;
    line-height: 30px;
    color: #374A3D;
}

.a{
    width: 200.26px;
    height: 32px;
}

.a1{
    width: 200.26px;
    height: 32px;
}

.a2{
    width: 200.26px;
    height: 32px;
}

.op{
    width: 27px;
    height: 32px;

    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: #678570;
}

.op1{
    width: 41px;
    height: 30px;

    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #0CA941;
}

.opp{
    width: 27px;
    height: 32px;

    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: #678570;
}

.op_1{
    width: 41px;
    height: 30px;

    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #0CA941;
}

.oppp{
    width: 27px;
    height: 32px;
   
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 32px;
    text-align: center;
    color: #678570;
}

.op_11{
    width: 41px;
    height: 30px;

    font-family: 'Fredoka-Bold';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #0CA941;
}

.btn-cart{
    display: inline-block;
    width: 128.06px;
    height: 43.93px;
    font-family: 'Fredoka-Regular';
    padding-top: 7px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: 0.5px solid rgba(55, 74, 61, 0.36);
    border-radius: 10px;
    color: #678570;
    text-decoration: none;
}

.btn-cart2{
    display: inline-block;
    width: 128.06px;
    height: 43.93px;
    font-family: 'Fredoka-Regular';
    padding-top: 7px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: 0.5px solid rgba(55, 74, 61, 0.36);
    border-radius: 10px;
    color: #678570;
    text-decoration: none;
}

.btn-cart3{
    display: inline-block;
    width: 128.06px;
    height: 43.93px;
    font-family: 'Fredoka-Regular';
    padding-top: 7px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: center;
    border: 0.5px solid rgba(55, 74, 61, 0.36);
    border-radius: 10px;
    color: #678570;
    text-decoration: none;
}

.w{
    width: 360px;
    height: 437px;
    text-align: center;
    padding-top: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.36);
    border-radius: 37px;

    font-family: 'Fredoka-Bold';
    font-size: 24px;
    line-height: 30px;
    color: #374A3D;
}

.e{
    width: 360px;
    height: 437px;
    text-align: center;
    padding-top: 30px;
    border: 0.5px solid rgba(0, 0, 0, 0.36);
    border-radius: 37px;

    font-family: 'Fredoka-Bold';
    font-size: 24px;
    line-height: 30px;
    color: #374A3D;
}

.elik{
    width: 514.19px;
    height: 514.19px;
    background: rgba(83, 195, 81, 0.33);
    filter: blur(184px);
}


.h22{
    width: 638px;
    height: 60px;

    font-family: 'Fredoka-Medium';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 60px;
    /* identical to box height, or 167% */

    text-align: center;
    color: #374A3D;
}

.must{
    width: 626.1px;
    height: 58.86px;
    font-family: 'Fredoka-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;

    text-align: center;
    color: #678570;
}
form{
    width: 657.63px;
    height: 81.89px;

    background-color: #fff; /* цвет фона формы */
    padding: 10px; /* отступы внутри формы */

}

.em{
    box-sizing: border-box;
    width: 491.35px;
    height: 81.89px;
    padding-left: 30px;
    border: 2px solid #0CA941;
    border-radius: 10px;
}

.sub{
    box-sizing: border-box;

    width: 223.42px;
    height: 81.89px;

    background: #0CA941;
    border: 1px solid #0CA941;
    border-radius: 10px;
    color: #fff;
    font-size: 18px;
    font-family: 'Fredoka-Regular';
}


footer{
    display: flex;
    justify-content: space-around;
    text-align: center;
    padding-top: 5px;
    line-height: 2;

    width: 1170.99px;
    height: 326.65px;
}

.logo_e{

    width: 36.52px;
    height: 34.31px;
}

.hob{
    font-family: 'Fredoka-Medium';
    font-size: 32px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 0em;
    color:#374A3D;
    text-align: left;
}

.hu{

    width: 300.67px;
    height: 122.94px;

    font-family: 'Fredoka-Regular';
    font-weight: 500;
    font-size: 18px;
    line-height: 32px;
    text-align: left;
    color: #678570;
}